<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./ui/admin/stylesModules.css">
    
    <title>Modules</title>
</head>
<body>

    <%-include("../partials/sidebar")%>

    <div class="grid-box">
        <div class="container">
          <div class="module-box">
            <div class="table-box">
                <table class="table">
                    <thead>
                        <tr>
                          <th>Subject Code</abbr></th>
                          <th>Module Title</th>
                          <th>Credits</abbr></th>
                          <th>Core Module</abbr></th>
                        </tr> 
                      </thead>
                    <tbody id="modulesTableBody">

                      <% modules.forEach((module, index) => { %>
                        <tr>
                          <td class="subjCodeCell"><%= module.subj_code %></td>
                          <td class="subjCodeCell"><%= module.module_title %></td>
                          <td class="subjCodeCell"><%= module.credit_value %></td>
                          <td class="subjCodeCell"><%= module.core_module %></td>
                          <td>
                            <button class="button" onclick="toggleEditForm('<%= index %>')">Edit</button>
                          </td>
                        </tr>

                        <tr id="edit-form-row-<%= index %>" style="display:none;">
                          <td colspan="5">
                            <form class="box edit-module-form" method="POST" data-index="<% index %>">
                              <input type="hidden" name="module_id" value="<%= module.module_id %>">

                              <div class="field">
                                <label class="label">Subject Code</label>
                                <input class="input" type="text" name="subj_code" value="<%= module.subj_code %>">
                              </div>
                        
                              <div class="field">
                                <label class="label">Title</label>
                                <input class="input" type="text" name="module_title" value="<%= module.module_title %>">
                              </div>
                        
                              <div class="field">
                                <label class="label">Credit Value</label>
                                <input class="input" type="number" name="credit_value" value="<%= module.credit_value %>">
                              </div>

                              <div class="field">
                                <label class="label">Core Module</label>
                                <div class="control">
                                  <div class="select">
                                    <select name="core_module">
                                      <option value="YES" <%= module.core_module === 'YES' ? 'selected' : '' %>>YES</option>
                                      <option value="NO" <%= module.core_module === 'NO' ? 'selected' : '' %>>NO</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                        
                              <button type="submit" class="button is-success mt-2">Save</button>
                            </form>
                          </td>
                        </tr>
                      <% }) %>
                       
                    </tbody>
                </table>


                

            </div>
          </div>
        </div>
    </div>

    <script src="/modules.js"></script>
    
</body>
</html>